<a href="https://colab.research.google.com/github/sikha22/python_Questions/blob/main/PythonQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# write a program to calculate the total
# amount of money in the piggybank
#NOTE : given coins of the rs 10,5,2,and 1

rupees_1=int(input("enter the no. of rs.1 coins = "))
rupees_2=int(input("enter the no. of rs.2 coins = "))
rupees_5=int(input("enter the no. of rs.5 coins = "))
rupees_10=int(input("enter the no. of rs.10 coins = "))
sum=rupees_1+rupees_2*2+rupees_5*5+rupees_10*10
print("total amount :" ,sum)

enter the no. of rs.1 coins = 6
enter the no. of rs.2 coins = 8
enter the no. of rs.5 coins = 3
enter the no. of rs.10 coins = 8
total amount : 117

In [2]:
#write a program to convert a floating
# point number into the corresponding integer
#print("enter the floating point value : ")
#a=input()
#print("converted value :")
#b=int(a)


val = float(input("Enter your value: "))
print(val)
val1=int(val)
print("converted value:" ,val1)

Enter your value: 4.89
4.89
converted value: 4

In [4]:
#write a program to determine whether a person
# is eligible to vote or not . if he/she is not
# eligible , then how many years are left to be
# eligible
a=int(input("enter your age :"))
print("your age is :" ,a)
if a>=18:
    print("congrats,you are eligible to vote")
else:
    print("you are not eligible to vote")
print( 18-a,"year's left to be eligible")

enter your age :12
your age is : 12
you are not eligible to vote
6 year's left to be eligible

In [9]:
#password Question
c=0
while(c<3):
      a=input("Enter password: ")
      if(a=="hello world"):
          print("correct password")
          c=3 #break
      else:
              c+=3
              if(c==3):
                  print("wrong password \n Access denied")

Enter password: hello world
correct password

In [13]:
""" write a program that asks for two numbers. if the sum
of the numbers is greater than 100, print " that is a big number" and terminate the program """
a=int(input("Enter 1st number :"))
b=int(input("Enter 2nd number:"))
c=a+b
print ("Sum of 1st and 2nd number is: {}".format(c))
#print(sum)
if(c>100):
    print("That is a big number")

Enter 1st number :98
Enter 2nd number:45
Sum of 1st and 2nd number is: 143
That is a big number

In [15]:
""" write a python program that accepts a number
from the user and swipe it """
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
print("a : {}".format(a))
print("b : {}".format(b))
#temp=a
#a=b
#b=temp
a,b=b,a
print("swipe the number")
print("a : {}".format(a))
print("b : {}".format(b))

Enter the number:45
Enter the number:12
a : 45
b : 12
swipe the number
a : 12
b : 45

In [16]:
""" write a python program that accepts a number
from the user and reverse it """
n=int(input("Enter the number: "))
r=0
while(n>0):
    d=n%10
    r=r*10+d
    n=n//10
print("Reverse number :{}".format(r))

Enter the number: 56
Reverse number :65

In [17]:
""" write a python program to find those numbers which are divisible by 7 and multiple of 5 between 1500 and 2700"""

for i in range(1500,2701):
     if(i%7==0 and i%5==0):
         print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [18]:
"""write a python program to print the fibonacci series"""
n=int(input("Enter the numbers:"))
a=0
b=1
sum=0
c=0 #c=1
while(c<n): #while(c<=n):
    print(sum,end=" " )
    c+=1
    a=b
    b=sum
    sum=a+b

Enter the numbers:6
0 1 1 2 3 5

In [19]:
"""write a python program which iterates the integers from 1 to 50 .for multiples of three print "fizz"
instead of the number and for multiple of five print "buzz".for numbers which are multiples of both numbers three
and five print "fizzbuzz" """
for i in range (1,51):
    if(i%3==0 and i%5==0):
        print("fizzbuzz")
    elif(i%3==0):
       print("fizz")
    elif(i%5==0):
        print("buzz")
    else:
         print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [20]:
""" pattern question """
n=int(input("Enter thr numbers for printing pattern :"))
for i in range(n):
    for j in range(i+1):
        print("*" ,end=" ")
    print()

Enter thr numbers for printing pattern :12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

In [21]:
""" write a program to print alphabet pattern 'A' """


n=7
for i in range(n):
    for j in range(n//2+1):
        if((j==0 or j==n//2) and i!=0 or i==0 and j!=0 and j!=n//2 or i==n//2):
            print("*" , end=" ")
        else:
          print(" " ,end=" " )
    print()

  * *
*     *
*     *
* * * *
*     *
*     *
*     *

In [22]:
""" write a program to print alphabet pattern NUMBERS """
n=int(input("Enter thr numbers for printing pattern :"))
for i in range(n):
    for j in range(i+1):
        print(j+1 ,end=" ") #print(i+1 ,end=" ")
    print()

Enter thr numbers for printing pattern :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
""" write a program to check whether an alphabet is vowel or consonant"""
a=(input("Enter an alphabet :"))
if(a=="a" or a=="A" or a=="e" or a=="E" or a=="i" or a=="I" or a=="o" or a=="O" or a=="u" or a=="U"):
    print("It's a vowel alphabet")
else:
  print("It's a consonant alphabet")

Enter an alphabet :e
It's a vowel alphabet

In [26]:
""" write a program to check a triangle is equilateral,isosceles or scalence """
a=(input("Enter 1st side of triangle:"))
b=(input("Enter 2nd side of triangle:"))
c=(input("Enter 3rd side of triangle:"))
if(a==b and b==c and c==a):
    print("It's an equilateral triagle")
elif(a==b or b==c):
    print("It's an isosceles triangle")
else:
    print("It's a scalence triangle")

Enter 1st side of triangle:6
Enter 2nd side of triangle:8
Enter 3rd side of triangle:2
It's a scalence triangle

In [33]:
""" write a python function to reverse a string"""
a="abc"
r=" "
for i in a:
    r=i+r
print(r)

cba

In [34]:
tup1=('a','hello',76,78.4)
tup2=('test',80)
print(tup1)
print(tup2)
print(tup1[2])
print(tup2[0])
#in tuple we cannot change the value immutable
#tup2[1]=90
#print(tup2)
tup3=tup1 + tup2
print(tup3)

('a', 'hello', 76, 78.4)
('test', 80)
76
test
('a', 'hello', 76, 78.4, 'test', 80)

In [35]:
#dictionary
d={"Bihar":"Patna","Jharkhand":"Ranchi","Uttarpradesh":"Lucknow","Punjab":"Chandigarh"}
a=input("Enter state name:")
b=a.capitalize()
print(b," = ",d[b])

Enter state name:bihar
Bihar  =  Patna

In [37]:
""" to display the calendar of a given month and year by the user """
import calendar
y = int(input("Enter year: "))  
m  = int(input("Enter month: "))
print(calendar.month(y,m))

Enter year: 2020
Enter month: 9
   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30